body{
    margin:0;
    font-family: 'Segoe UI', Arial, sans-serif;
    background-color: #f4f6f8;
    color:#333;
}
.hero{
    height:100vh;
    background-image: url(https://cf-img-a-in.tosshub.com/lingo/stak/images/story/202601/697b401ad06f1-former-india-captain-rohit-sharma-in-this-frame-getty-291013608-16x9.jpg?size=1600:900);
    position:relative;
    background-size: cover;
}
.overlay{
    height:100%;
    background: rgba(0,0,0,0.6);
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}